body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:0px;
  top:19px;
  width:360px;
  height:42px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u4963 {
  position:absolute;
  left:20px;
  top:0px;
  width:320px;
  height:19px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4965 {
  position:absolute;
  left:11px;
  top:390px;
  width:337px;
  height:205px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:94px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:12px;
  top:108px;
  width:337px;
  height:272px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:128px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4969 {
  position:absolute;
  left:23px;
  top:108px;
  width:315px;
  height:272px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4970 {
  position:absolute;
  left:2px;
  top:2px;
  width:311px;
  word-wrap:break-word;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4972 {
  position:absolute;
  left:23px;
  top:283px;
  width:314px;
  height:86px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:35px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4974 {
  position:absolute;
  left:33px;
  top:291px;
  width:279px;
  height:44px;
  font-size:16px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4976 {
  position:absolute;
  left:35px;
  top:340px;
  width:46px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:43px;
}
#u4978 {
  position:absolute;
  left:74px;
  top:19px;
  width:203px;
  height:43px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4979 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4980 {
  position:absolute;
  left:80px;
  top:67px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4982 {
  position:absolute;
  left:254px;
  top:67px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4984 {
  position:absolute;
  left:0px;
  top:95px;
  width:180px;
  height:5px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4987 {
  position:absolute;
  left:79px;
  top:147px;
  width:12px;
  height:12px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4989 {
  position:absolute;
  left:95px;
  top:147px;
  width:12px;
  height:12px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4991 {
  position:absolute;
  left:62px;
  top:147px;
  width:12px;
  height:12px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4993 {
  position:absolute;
  left:23px;
  top:396px;
  width:315px;
  height:199px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4994 {
  position:absolute;
  left:2px;
  top:2px;
  width:311px;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4995 {
  position:absolute;
  left:23px;
  top:496px;
  width:314px;
  height:86px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:35px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4997 {
  position:absolute;
  left:33px;
  top:504px;
  width:279px;
  height:22px;
  font-size:16px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4999 {
  position:absolute;
  left:35px;
  top:553px;
  width:46px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5003 {
  position:absolute;
  left:79px;
  top:436px;
  width:12px;
  height:12px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5005 {
  position:absolute;
  left:95px;
  top:436px;
  width:12px;
  height:12px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5007 {
  position:absolute;
  left:112px;
  top:436px;
  width:12px;
  height:12px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5009 {
  position:absolute;
  left:62px;
  top:436px;
  width:12px;
  height:12px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5011 {
  position:absolute;
  left:430px;
  top:117px;
  width:297px;
  height:59px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:79px;
  height:22px;
}
#u5013p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:70px;
  height:2px;
}
#u5013p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:81px;
  height:22px;
}
#u5013p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u5013p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u5013p002 {
  position:absolute;
  left:53px;
  top:-10px;
  width:22px;
  height:22px;
}
#u5013p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u5013.compound {
  width:0px;
  height:0px;
}
#u5013 {
  position:absolute;
  left:348px;
  top:129px;
  width:68px;
  height:2px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:-7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5015 {
  position:absolute;
  left:430px;
  top:399px;
  width:414px;
  height:59px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5016 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:79px;
  height:22px;
}
#u5017p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:70px;
  height:2px;
}
#u5017p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:81px;
  height:22px;
}
#u5017p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u5017p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u5017p002 {
  position:absolute;
  left:53px;
  top:-10px;
  width:22px;
  height:22px;
}
#u5017p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u5017.compound {
  width:0px;
  height:0px;
}
#u5017 {
  position:absolute;
  left:348px;
  top:412px;
  width:68px;
  height:2px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:-7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5020 {
  position:absolute;
  left:727px;
  top:0px;
  width:360px;
  height:640px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5022 {
  position:absolute;
  left:727px;
  top:0px;
  width:360px;
  height:19px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5024 {
  position:absolute;
  left:727px;
  top:19px;
  width:360px;
  height:42px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u5026 {
  position:absolute;
  left:747px;
  top:0px;
  width:320px;
  height:19px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5028 {
  position:absolute;
  left:738px;
  top:32px;
  width:9px;
  height:16px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:43px;
}
#u5030 {
  position:absolute;
  left:801px;
  top:19px;
  width:203px;
  height:43px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u5031 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u5032 {
  position:absolute;
  left:807px;
  top:67px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u5034 {
  position:absolute;
  left:981px;
  top:67px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u5035 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  position:absolute;
  left:907px;
  top:95px;
  width:180px;
  height:5px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5038 {
  position:absolute;
  left:727px;
  top:172px;
  width:360px;
  height:1px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:727px;
  top:120px;
  width:360px;
  height:138px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5042 {
  position:absolute;
  left:739px;
  top:160px;
  width:265px;
  height:22px;
  font-size:16px;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5044 {
  position:absolute;
  left:739px;
  top:193px;
  width:46px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5046 {
  position:absolute;
  left:739px;
  top:131px;
  width:242px;
  height:22px;
  font-size:16px;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u5048 {
  position:absolute;
  left:728px;
  top:224px;
  width:358px;
  height:34px;
  font-size:16px;
  color:#000000;
}
#u5049 {
  position:absolute;
  left:2px;
  top:6px;
  width:354px;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5050 {
  position:absolute;
  left:727px;
  top:268px;
  width:360px;
  height:138px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5052 {
  position:absolute;
  left:739px;
  top:309px;
  width:265px;
  height:22px;
  font-size:16px;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5054 {
  position:absolute;
  left:739px;
  top:279px;
  width:306px;
  height:22px;
  font-size:16px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5056 {
  position:absolute;
  left:739px;
  top:344px;
  width:46px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5057 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u5058 {
  position:absolute;
  left:728px;
  top:372px;
  width:358px;
  height:34px;
  font-size:16px;
  color:#000000;
}
#u5059 {
  position:absolute;
  left:2px;
  top:6px;
  width:354px;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5060 {
  position:absolute;
  left:11px;
  top:32px;
  width:9px;
  height:16px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5062 {
  position:absolute;
  left:23px;
  top:210px;
  width:58px;
  height:63px;
  color:#999999;
}
#u5063 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  word-wrap:break-word;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5064 {
  position:absolute;
  left:87px;
  top:210px;
  width:58px;
  height:63px;
  color:#999999;
}
#u5065 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5066 {
  position:absolute;
  left:151px;
  top:210px;
  width:58px;
  height:63px;
  color:#999999;
}
#u5067 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5068 {
  position:absolute;
  left:215px;
  top:210px;
  width:58px;
  height:63px;
  color:#999999;
}
#u5069 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  word-wrap:break-word;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5070 {
  position:absolute;
  left:279px;
  top:210px;
  width:58px;
  height:63px;
  color:#999999;
}
#u5071 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  word-wrap:break-word;
}
#u5072_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:96px;
  height:22px;
}
#u5072p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:87px;
  height:2px;
}
#u5072p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:98px;
  height:22px;
}
#u5072p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u5072p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u5072p002 {
  position:absolute;
  left:70px;
  top:-10px;
  width:22px;
  height:22px;
}
#u5072p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u5072.compound {
  width:0px;
  height:0px;
}
#u5072 {
  position:absolute;
  left:331px;
  top:241px;
  width:85px;
  height:2px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5074 {
  position:absolute;
  left:430px;
  top:233px;
  width:297px;
  height:59px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#299FD6;
  line-height:28px;
}
#u5076 {
  position:absolute;
  left:1172px;
  top:227px;
  width:511px;
  height:35px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#299FD6;
  line-height:28px;
}
#u5077 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u5078_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:92px;
  height:22px;
}
#u5078p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:83px;
  height:2px;
}
#u5078p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:94px;
  height:22px;
}
#u5078p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u5078p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u5078p002 {
  position:absolute;
  left:66px;
  top:-10px;
  width:22px;
  height:22px;
}
#u5078p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u5078.compound {
  width:0px;
  height:0px;
}
#u5078 {
  position:absolute;
  left:1076px;
  top:240px;
  width:81px;
  height:2px;
}
#u5079 {
  position:absolute;
  left:2px;
  top:-7px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
