body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4868 {
  position:absolute;
  left:427px;
  top:403px;
  width:360px;
  height:370px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:177px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4870 {
  position:absolute;
  left:428px;
  top:447px;
  width:358px;
  height:72px;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u4876 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:0px;
  top:19px;
  width:360px;
  height:42px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u4879 {
  position:absolute;
  left:20px;
  top:0px;
  width:320px;
  height:19px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:43px;
}
#u4881 {
  position:absolute;
  left:79px;
  top:18px;
  width:203px;
  height:43px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4882 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:209px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4883 {
  position:absolute;
  left:0px;
  top:61px;
  width:360px;
  height:209px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:96px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u4885 {
  position:absolute;
  left:60px;
  top:82px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u4886 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4888 {
  position:absolute;
  left:133px;
  top:150px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4889 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4890 {
  position:absolute;
  left:168px;
  top:150px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4891 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4892 {
  position:absolute;
  left:203px;
  top:150px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4893 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4894 {
  position:absolute;
  left:138px;
  top:121px;
  width:85px;
  height:20px;
  color:#666666;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:36px;
}
#u4896 {
  position:absolute;
  left:52px;
  top:188px;
  width:259px;
  height:72px;
  font-size:16px;
  text-align:center;
  line-height:36px;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4898 {
  position:absolute;
  left:58px;
  top:280px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  position:absolute;
  left:0px;
  top:309px;
  width:180px;
  height:5px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4902 {
  position:absolute;
  left:148px;
  top:301px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4904 {
  position:absolute;
  left:226px;
  top:280px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4906 {
  position:absolute;
  left:14px;
  top:330px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4908 {
  position:absolute;
  left:13px;
  top:456px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4910 {
  position:absolute;
  left:14px;
  top:359px;
  width:332px;
  height:80px;
  color:#666666;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4912 {
  position:absolute;
  left:14px;
  top:484px;
  width:332px;
  height:80px;
  color:#666666;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4914 {
  position:absolute;
  left:485px;
  top:413px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4916 {
  position:absolute;
  left:575px;
  top:434px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4918 {
  position:absolute;
  left:665px;
  top:413px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4920 {
  position:absolute;
  left:607px;
  top:442px;
  width:180px;
  height:5px;
}
#u4921 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:261px;
}
#u4922 {
  position:absolute;
  left:453px;
  top:521px;
  width:318px;
  height:261px;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:40px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:209px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4924 {
  position:absolute;
  left:427px;
  top:90px;
  width:360px;
  height:209px;
}
#u4925 {
  position:absolute;
  left:2px;
  top:96px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4927 {
  position:absolute;
  left:560px;
  top:179px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4928 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4929 {
  position:absolute;
  left:595px;
  top:179px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4930 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4931 {
  position:absolute;
  left:630px;
  top:179px;
  width:25px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u4932 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4933 {
  position:absolute;
  left:565px;
  top:150px;
  width:85px;
  height:20px;
  color:#666666;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:36px;
}
#u4935 {
  position:absolute;
  left:479px;
  top:217px;
  width:259px;
  height:72px;
  font-size:16px;
  text-align:center;
  line-height:36px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:28px;
}
#u4937 {
  position:absolute;
  left:429px;
  top:59px;
  width:148px;
  height:31px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:28px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u4939_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:79px;
  height:22px;
}
#u4939p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:70px;
  height:2px;
}
#u4939p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:81px;
  height:22px;
}
#u4939p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u4939p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u4939p002 {
  position:absolute;
  left:53px;
  top:-10px;
  width:22px;
  height:22px;
}
#u4939p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4939.compound {
  width:0px;
  height:0px;
}
#u4939 {
  position:absolute;
  left:348px;
  top:71px;
  width:68px;
  height:2px;
}
#u4940 {
  position:absolute;
  left:2px;
  top:-7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4942 {
  position:absolute;
  left:427px;
  top:803px;
  width:81px;
  height:31px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4943 {
  position:absolute;
  left:0px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u4944 {
  position:absolute;
  left:505px;
  top:833px;
  width:282px;
  height:1px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  position:absolute;
  left:427px;
  top:844px;
  width:360px;
  height:370px;
}
#u4947 {
  position:absolute;
  left:2px;
  top:177px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4948 {
  position:absolute;
  left:428px;
  top:888px;
  width:358px;
  height:72px;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4950 {
  position:absolute;
  left:485px;
  top:854px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4952 {
  position:absolute;
  left:584px;
  top:875px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4954 {
  position:absolute;
  left:664px;
  top:854px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:5px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4956 {
  position:absolute;
  left:606px;
  top:883px;
  width:180px;
  height:5px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:-6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958 {
  position:absolute;
  left:313px;
  top:292px;
  width:0px;
  height:0px;
}
#u4958_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u4958_seg1 {
  position:absolute;
  left:69px;
  top:-4px;
  width:8px;
  height:91px;
}
#u4958_seg2 {
  position:absolute;
  left:69px;
  top:79px;
  width:34px;
  height:8px;
}
#u4958_seg3 {
  position:absolute;
  left:89px;
  top:73px;
  width:21px;
  height:20px;
}
#u4959 {
  position:absolute;
  left:23px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:28px;
}
#u4960 {
  position:absolute;
  left:429px;
  top:362px;
  width:148px;
  height:31px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:28px;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:36px;
}
#u4962 {
  position:absolute;
  left:488px;
  top:110px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-style:normal;
  font-size:16px;
}
#u4964 {
  position:absolute;
  left:805px;
  top:90px;
  width:324px;
  height:31px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-style:normal;
  font-size:16px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4966 {
  position:absolute;
  left:11px;
  top:32px;
  width:9px;
  height:16px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
